/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

div:has(>.wp-block-hjude-content-distortion){
	overflow: hidden;
}

 .wp-block-hjude-content-distortion {
	position: relative;
}

.wp-block-hjude-content-distortion .itterationLayer:not(.itterationBase){
	margin: 0px;
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}

.wp-block-hjude-content-distortion .itterationLayer{
	pointer-events: none;
	--cutInner:50%;
	--cutOuter:75%;
	--cX:50%;
	--cY:50%;
	
	mask-image: radial-gradient(
		circle farthest-side at var(--cX) var(--cY),
		rgba(0,0,0,0) var(--cutInner),
		rgba(0,0,0,1) var(--cutInner),
		rgba(0,0,0,1) var(--cutOuter),
		rgba(0,0,0,0) var(--cutOuter),
		);
	// transform: rotate(calc(var(--rot) * 1deg));
	transform-origin: var(--cX) var(--cY);
	// transform-origin: center;

	animation:calc(1s * var(--speed)) wobble alternate ease-in-out infinite;
}

.wp-block-hjude-content-distortion .itterationLayer.itterationBase{
	--cutInner:75%;
	--cutOuter:100%;
	mask-image: radial-gradient(
		circle farthest-side at var(--cX) var(--cY),
		rgba(0,0,0,0) var(--cutInner),
		rgba(0,0,0,1) var(--cutInner),
		rgba(0,0,0,1) var(--cutOuter),
		rgba(0,0,0,1) var(--cutOuter),
		);
}


.wp-block-hjude-content-distortion .itterationLayer *{
	background-color:transparent;
}

.wp-block-hjude-content-distortion .itterationLayer:last-child *{
	// color:var(--wp--preset--color--accent) !important;
}

@keyframes wobble {
	from{
		transform: rotate( calc(var(--rot) * 1deg) );
	}
	to{
		transform: rotate(calc(var(--rot) * -1deg));
	}
}